	@font-face {
		font-family: 'Lora';
		src: url('fonts/lora.ttf') format('truetype');
	}

	body {
		margin: 0;
		font-family: "Lora", sans-serif;
		background: #888f00;
	}
	
	.container {
		margin: 0px 190px;
	}
	
	.header {
		background: #888f00;
		height: 125px;
		box-shadow: 0 0 20px rgba(0,0,0,0.5);
	}
	
	.header-logo {
		display: flex;
		align-items: center;
		transition: 0.4s;
	}
	
	.header-logo:hover {
		transform: scale(1.05);
	}

	.logo-img {
		width: 70px;
	}
	
	.title {
		color: #000;
		text-decoration: none;
		font-size: 32px;
		transition: 0.4s;
	}
	
	.head1 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 25px;
	}
	
	.nav-item {
		color: #000;
		text-decoration:none;
		font-size: 24px;
		position: relative;
		cursor: pointer;
		margin-left: 30px;
	}

	.nav-item:after {
		content: "";
		display: block;
		position: absolute;
		margin-top: 10px;
		right: 0;
		width: 0;
		height: 4px;
		background-color: black;
		transition: width 0.9s;
	}

	.nav-item:hover:after {
		content: "";
		width: 100%;
		display: block;
		position: absolute;
		margin-top: 10px;
		left: 0;
		height: 4px;
		background-color: #3a3d00;
		transition: width 0.9s;
	}
	
	.head2 {
		height: 877px;
	}
	
	.head-cont {
		position: relative;
		z-index: 1;
		margin-top: -720px;
	}
	
	.head2-img {
		height: 877px;
		width: 100%;
		object-fit: cover;
	}
	
	.head2-img2 {
		height: 198px;
		padding-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		animation: pulsing 8s infinite;
	}
	
	.head2-text {
		font-size: 72px;
		color: #fff;
		text-align: center;
		margin-bottom: 150px;
	}
	
	.head2-button {
		background: #3a3d00;
		border-radius: 20px;
		color: #fff;
		font-size: 30px;
		font-weight: bold;
		padding: 15px 40px;
		text-decoration: none;
		display: block;
		border: 1px solid black;
	}
	
	.head2-button:hover {
		background: #888f00;
		border: 1px solid white;
	}
	
	.title-b {
		font-size: 72px;
		color: #000;
		font-weight: bold;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.about-us {
		background: linear-gradient(to bottom, #f3ff0a 50%, #f7ff5c 50%);
		height: 800px;
		align-items: center;
	}
	
	.wrapper {
		height: 533px;
		margin: auto;
		position: relative;
		width: 800px;
	}

	.slider {
		background-color: #ddd;
		height: inherit;
		overflow: hidden;
		position: relative;
		width: inherit;
		-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
		-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
		-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
		box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	}
	
	.wrapper > input {
		display: none;
	}
	
	.slides {
		height: inherit;
		position: absolute;
		width: inherit;
	}

	.slide1 { background-image: url("../image/1.jpg"); }
	.slide2 { background-image: url("../image/2.jpg"); }
	.slide3 { background-image: url("../image/3.jpg"); }
	.slide4 { background-image: url("../image/4.jpg"); }
	.slide5 { background-image: url("../image/5.jpg"); }
	
	.wrapper .controls {
		left: 50%;
		margin-left: -98px;
		position: absolute;
	}

	.wrapper label {
		cursor: pointer;
		display: inline-block;
		height: 8px;
		margin: 25px 12px 0 16px;
		position: relative;
		width: 8px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}

	.wrapper label:after {
		border: 2px solid #ddd;
		content: " ";
		display: block;
		height: 12px;
		left: -4px;
		position: absolute;
		top: -4px;
		width: 12px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}
	
	.wrapper label {
		cursor: pointer;
		display: inline-block;
		height: 8px;
		margin: 25px 12px 0 16px;
		position: relative;
		width: 8px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		-webkit-transition: background ease-in-out .5s;
		-moz-transition: background ease-in-out .5s;
		-o-transition: background ease-in-out .5s;
		transition: background ease-in-out .5s;
	}

	.wrapper label:hover, 
	#slide1:checked ~ .controls label:nth-of-type(1),
	#slide2:checked ~ .controls label:nth-of-type(2),
	#slide3:checked ~ .controls label:nth-of-type(3),
	#slide4:checked ~ .controls label:nth-of-type(4),
	#slide5:checked ~ .controls label:nth-of-type(5) {
		background: #ddd;
	}
	
	.slides {
		height: inherit;
		opacity: 0;
		position: absolute;
		width: inherit;
		z-index: 0;
		-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
		-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
		-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
		transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	}

	#slide1:checked ~ .slider > .slide1,
	#slide2:checked ~ .slider > .slide2,
	#slide3:checked ~ .slider > .slide3,
	#slide4:checked ~ .slider > .slide4,
	#slide5:checked ~ .slider > .slide5 {
		opacity: 1;
		z-index: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	
	.display {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}
	
	#popupBody {
		display: none;
		width: 1200px;
		top: 150px;
		z-index: 1001;
		position: fixed;
		left: 50%;
		margin-left: -600px;
	}
	
	#popupImage {
		width: 500px;
		float: left;
	}
	
	#popupInfo {
		width: 660px;
		float: left;
		background: #efefef;
		padding: 20px;
		height: 460px;
	}
	
	#popupInfoName {
		font-weight: bold;
		font-size: 35px;
		text-align: center;
		padding-top: 20px;
	}
	
	#popupInfoKK {
		margin-right: 80px;
		text-align: right;
		font-size: 25px;
	}
	
	#popupInfoDescription {
		margin: 40px 20px;
		font-size: 25px;
	}
	
	#popupInfoPrice {
		margin-left: 40px;
		font-weight: bold;
		font-size: 25px;
	}
	
	#popupBack {
		display: none;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.9);
		position: fixed;
		z-index: 99;
	}
	
	.product {
		background: #f3ff0a;
		height: 1000px;
	}
	
	table {
		margin: auto;
	}
	
	td {
		width: 315px;
		padding-top: 20px;
		cursor: pointer;
	}
	
	.product-img {
		width: 300px;
		z-index: 0;
	}
	
	.men-square1 {
		width: 200px;
		height: 50px;
		background: #fff;
		font-size: 24px;
		text-align: center;
		margin-top: -53px;
		position: relative;
		z-index: 1;
		margin-left: 52px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.men-square2 {
		width: 300px;
		height: 75px;
		background: #fff;
		font-size: 24px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.form {
		background: linear-gradient(#3a3d00 50%, #f7ff5c 50% 100%);
		height: 834px;
		display: block;
	}
	
	form {
		width: 550px;
		margin-left: 35px;
	}
	
	.on-box {
		width: 600px;
		height: 600px;
		background: #888f00;
		margin-left: auto;
		margin-right: auto;
	}
	
	.input {
		height: 54px;
		font-size: 18px;
		background: #efefef;
		width: 483px;
		margin: 20px;
		border: 0px;
	}
	
	.input2 {
		height: 54px;
		font-size: 18px;
		background: #efefef;
		width: 229px;
		margin-left: 20px;
		margin-top: 20px;
		border: 0px;
	}
	
	.select {
		height: 54px;
		font-size: 18px;
		background: #efefef;
		width: 229px;
		margin-left: 20px;
		margin-top: 20px;
		border: 0px;
		color: #808080;
	}
	
	.textarea {
		background: #efefef;
		font-size: 18px;
		width: 483px;
		height: 145px;
		margin: 20px;
		margin-top: 40px;
	}
	
	.checkbox {
		color: #fff;
		font-size: 16px;
		margin: 20px;
	}
	
	.head2-but{
		width: 350px;
		height: 70px;
		margin-left: 150px;
	}
	
	.button {
		background: #3a3d00;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		padding: 15px 30px;
		display: block;
		border: 1px solid #000;
		opacity: 0.5;
	}
	
	.dostavka {
		height: 440px;
		background: #f3ff0a;
	}
	
	.box3 {
		align-items: center;
		padding-left: auto;
		padding-right: auto;
		text-align: center;
	}
	
	.text3 {
		color: #000;
		font-size: 30px;
		text-align: center;
		margin-top: 10px;
		font-weight: bold;
	}
	
	.otziv {
		height: 390px;
		background: #f3ff0a;
	}
	
	.box2 {
		display: flex;
		justify-content: center;
		width: 1000px;
		align-items: center;
		margin: auto;
	}
	
	.text2 {
		color: #000;
		font-size: 30px;
		text-align: left;
		padding-left: 50px;
		font-weight: bold;
	}
	
	.contact {
		background: #f7ff5c;
		height: 423px;
	}
	
	.cons {
		display: flex;
		justify-content: center;
		padding-top: 60px;
		padding-bottom: 50px;
	}
	
	.con-img {
		height: 165px;
	}
	
	.con-name {
		text-align: center;
		padding-top: 20px;		
		color: #000;
		font-size: 14px;
		font-weight: bold;
	}
	
	.con-work {
		font-size: 12px;
		text-align: center;
		padding-top: 20px;		
		color: #000;
	}
	
	.con-con {
		display: flex;
		justify-content: space-between;
	}
	
	.con-button {
		color: #fff;
		font-weight: bold;
		height: 30px;
		width: 110px;
		margin-left: 40px;
		margin-top: 30px;		
		background: #3a3d00;
		border: 1px solid #000;
		font-size: 12px;
	}
	
	.con-box {
		width: 195px;
		height: 165px;
		background: #fbfbfb;
	}
	
	.cot-img {
		width: 60px;
		margin: 10px;
		border-radius: 50%;
	}
	
	.cot-img:hover {
		border: 1px solid black;
	}
	
	.basement {
		background: #888f00;
		height: 300px;
	}
	
	.bas {
		display: flex;
		justify-content: space-between;
	}	
	
	.bas-text {
		color: #000;
		font-size: 20px;
		padding: 30px;
		width: 800px;
	}
	
	.bas-holder {
		width: 250px;
		padding-top: 60px;
	}
	
	.bas-title {
		color: #000;
		font-size: 24px;
		font-weight: bold;
	}
	
	.bas-item {
		color: #000;
		text-decoration:none;
		font-size: 20px;
	}
	
	.bas-item:hover {
		color: #fff;
	}